* {
	box-sizing: border-box;
}

html {
	position: relative;
	min-height: 100%;
	margin: 0;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #666;
	text-align: center;
	color: #FFF;
	padding: 10px 0px;
}

body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777;
	font-size: 16px;
	margin: 0;
	margin-bottom: 50px;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.5em;
}

li {
	list-style: none;
}

header {
	background-color: #FFF;
}

h1, h2, h3, h4, h5 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

a {
	text-decoration: none;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
	height: 0px;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.pos-r {
	position: relative;
}

.pos-a {
	position: absolute;
}


.text-display {
	text-align: center;
	color: #5E5E5E;
	font: bold 20px arial;
	text-decoration: none;
	text-align: center;
	padding: 10px 0px;
	word-wrap: break-word;
}

#hangman {
	font-size: 60px;
	font-size: 9vmin;
}

.land
{
	fill: #CCCCCC;
	fill-opacity: 1;
	stroke:white;
	stroke-opacity: 1;
	stroke-width:0.5;
}

.fill {
	fill: #194f90;
}

.won
{
	fill: #c84c66;
	color: #c84c66;
}

.lost
{
	fill: #b7ba0a;
	color: #b7ba0a;
}

strong {
	font-weight: 700;
	color: #b7ba0a;
	font-size: 20px;
}

#sofar, #takeaway {
	color: #b7ba0a;
	font-weight: bold;
	font-size: 13px;
}

#sofarContainer {
	font-size: 13px;
}

.left-10 {
	left: -10px;
}

.top-10 {
	top: -10px;
}